pandas>=2.2.0
python-dotenv>=0.19.0
google-auth>=2.0.0
google-api-python-client>=2.120.0
google-auth-httplib2>=0.1.1
google-auth-oauthlib>=1.1.0
psycopg2-binary>=2.9.1
openai>=1.0.0
langchain-text-splitters>=0.0.1
tiktoken>=0.5.2
requests>=2.31.0
googlemaps>=4.10.0
flask>=3.0.0
numpy>=1.21.0
cloud-sql-python-connector>=1.2.0
sqlalchemy==1.4.50
pg8000>=1.29.0
google-cloud-alloydb==0.4.5
google-cloud-core>=2.0.0 